*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

main{
    height: 100%;
}

.header-search {
    background-color:#fafafa;
    padding: 4px;
    border: 1px solid #e4e4e4;
    border-radius: 3px;
}
/*
.buttons{
    margin-top: 0px;
    margin-right: 50px;
}

.header-placeholder {
 max-width: 200px;
 height: 100%;
 padding: 15px 0 0 0;
} */

.container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 975px;
    margin: auto;
    height: 100%;
    padding: 0 20px;
}

.header{
    display: flex;
    width: 100%;
    height: 50px;
    background-color: white;
    border-bottom: 1px solid #e4e4e4;
    position: fixed;
}

.body{
    background-color: #fafafa;
    height: 100%;
}


.placeholder-left {
    order: 1;
}

.placeholder-right {
    order: 3;
}

.placeholder-center {
    order: 2;
}

.icon{
    margin-left: 10px;
}

.all-main-content{
    padding-top: 65px;
    display: flex;
    justify-content: center;
}

.acide{
   /*
    margin-right: -170px;
    
    height: 100%;
    margin-bottom: 100%;
    */
    margin-top: 25px;
    max-width: 320px;
    order: 2;

}

.my-account{
    display: flex;
    justify-content: flex-start;
    margin-top: 12px;
    height: 60px;
    width: 300px;
}



.username{
    flex-basis: auto;
    margin-left: 15px;
    margin-top: 10px;
}

.recomendations-1{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 15px;
    height: 20px;
    margin-bottom: 20px;
}

.recomendations{
    font-family: Arial, Helvetica, sans-serif;
    
}    




.follow-them{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 320px;
}

.follow-them-left{
    display: flex;
    justify-content: flex-start;
}

.people{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: auto;
    text-decoration: none;
}

.follow{
    border: none;
    background: none;
    margin: 10px 0;
}

.info-inline {
    padding-right: 10px;
    margin-right: 10px;
    
}

.info-list{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: 18px;
}


.instagram2020{
    margin-top: 20px;
}

.main-content{
    order: 1;
    margin-right: 30px;
    width: 607px;
}

.stories-block{
    display: flex;
    justify-content: space-around;
    width: 607px; 
    height: 100px;
    margin: 20px 0;
    background-color: white;
    border: 1px solid #e4e4e4;
    border-radius: 3px;
}

.stories{
    padding: 5px 10px;
    width: 75px;
}


.stories-text{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.publication{
    display: flex;
    flex-direction: column;
    width: 607px;
    height: 877px;
    margin: 0 0 15px 0;
    background-color: white;
    border: 1px solid #e4e4e4;
    border-radius: 3px;
}

.publication-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.publication-header-left{
    display: flex;
    justify-content: flex-start;
}

.nickname-and-location{
    display: flex;
    flex-direction: column;
}

.publication-avatar{
    padding-right: 10px;
}

.left-buttons{
    border: none;
    display: flex;

}

.right-button{
    border: none;
    display: flex;
}

.button{
    border: none;
    padding: 8px;
    background-color: white;
}

.all-buttons{
    display: flex;
    justify-content: space-between;
    width: 607px;
    height: 44px;
}

.likes{
    display: flex;
    width: 607px;
    height: 20px;
    display: block;
    padding-left: 8px;
    padding-right: 5px;
}

.publication-text-block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.underline:hover{
    text-decoration: underline;
}

.comment{
    width: 550px;
    margin-left: 8px ;
}

.tolikeacomment{
    margin: 0 10px 0 0;
}

.comment-block{
    display: flex;
    justify-content: space-between;
    width: 607px;
    height: 18px;
    margin: 5px 0;
}

.add-a-comment{
    display: block;
    margin-top: 15px;
    padding: 0 16px;
    width: 575px;
    height: 56px;
    border-top: 1px solid #e4e4e4;
}

.input-comment{
    border: none;
    margin: 18px 0;
}

.form{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.publish-a-comment{
    margin: 18px 0;
    border: none;
    background-color: white;
}









