*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

main{
    height: 100%;
}

.header-search {
    background-color:#fafafa;
    padding: 4px;
    border: 1px solid #e4e4e4;
    border-radius: 3px;
}
/*
.buttons{
    margin-top: 0px;
    margin-right: 50px;
}
*/
.header-placeholder {
 max-width: 200px;
 height: 100%;
 padding: 15px 0 0 0;
} 

.container{
    width: 975px;
    margin: auto;
    height: 100%;
    padding: 0 20px;
}

.header{
    width: 100%;
    height: 50px;
    background-color: white;
    border-bottom: 1px solid #e4e4e4;
}
/*
html{
    height: 100%;
}
*/
.body{
    background-color: #fafafa;
    height: 100%;
}


.placeholder-left {
    float:left;
}

.placeholder-right {
    float:right;
}

.placeholder-center {
    margin: 0 auto;
}

.icon{
    margin-left: 10px;
}

.acide{
    float: right;
    margin-top: 25px;
    margin-right: -170px;
    max-width: 320px;
    height: 100%;
    margin-bottom: 100%;
}

.my-account{
    margin-top: 12px;
    height: 60px;
    width: 300px;
}

.profile-icon{
    float: left;
}

.username{
    float: left;
    margin-left: 15px;
    margin-top: 10px;
}

.recomendations-1{
    margin-top: 15px;
    height: 20px;
    margin-bottom: 20px;
}

.recomendations{
    float: left;
}

.see-more{
    float: right;
}

.follow-them{
    height: 50px;
    width: 320px;
}

.people{
    float: left;
    padding: auto;
    text-decoration: none;
}

.follow{
    border: none;
    background: none;
    float: right;
    margin: 10px 0;
}

.info-inline {
    float: left;
    padding-right: 10px;
    margin-right: 10px;
    
}

.info-list{
    margin-left: 18px;
}

.instagram2020{
    margin-top: 20px;
    float: left;
}

.main-content{
    float: right;
    margin-right: 30px;
    width: 607px;
}

.stories-block{
    float: left;
    width: 607px; 
    height: 100px;
    margin: 10px 0;
    background-color: white;
    border: 1px solid #e4e4e4;
    border-radius: 3px;
}

.stories{
    float: left;
    padding: 5px 10px;
    width: 75px;
}


.stories-text{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.publication{
    float: left;
    width: 607px;
    height: 877px;
    margin: 15px 0;
    background-color: white;
    border: 1px solid #e4e4e4;
    border-radius: 3px;
}

.publication-avatar{
    float: left;
    margin: 5px 5px;
}

.profile-name{
    text-decoration: none;
    margin-top: auto;
    padding-top: 6px;
    margin-left: 5px;
    max-width: 200px;
}

.location{
    float: left;
}

.dots{
    float: right;
    margin: 15px 20px 20px 15px;
} 

.left-buttons{
    float: left;
    border: none;
}

.right-button{
    float: right;
    border: none;
}

.button{
    border: none;
    padding: 8px;
    background-color: white;
}

.all-buttons{
    width: 607px;
    height: 44px;
}

.likes{
    width: 607px;
    height: 20px;
    display: block;
    float: left;
    padding-left: 8px;
    padding-right: 5px;
}

.underline:hover{
    text-decoration: underline;
}

.comment{
    width: 550px;
    float: left;
    margin-left: 8px ;
}

.tolikeacomment{
    float: right;
    margin: 0 8px;
}

.comment-block{
    width: 607px;
    height: 18px;
    margin: 5px 0;
}

.add-a-comment{
    display: block;
    margin-top: 55px;
    padding: 0 16px;
    width: 575px;
    height: 56px;
    border-top: 1px solid #e4e4e4;
}

.input-comment{
    border: none;
    margin: 18px 0;
}

.publish-a-comment{
    margin: 18px 0;
    float: right;
    border: none;
    background-color: white;
}









